openapi: 3.0.0
info:
  contact:
    email: support@zippendo.com
    name: Zippendo Support
    url: https://zippendo.com/support
  description: |-
    Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).

    **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders,
    shipments and configuration separate. There are two ways to scope requests to one brand, and
    NEITHER changes any request body:

    1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined
       to that brand — reads filtered, writes stamped. This is the recommended way to give a single
       brand's team its own credential.
    2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual
       request by sending the brand's id or slug in this header. Most SDKs let you set it once on the
       client so every call inherits it.

    A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is
    rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests
    cover the whole organization, which is the behaviour of every existing token.

    Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules,
    addresses) with a null brand is organization-wide and remains visible inside every brand;
    orders and shipments with a null brand are only visible organization-wide.

    List endpoints additionally take a `?brandScope=own|shared|both` parameter to narrow further
    within whichever brand context already applies. `own` returns only rows assigned to that brand,
    and requires a brand context — a brand-bound token, a resolved brand session, or the
    `X-Zippendo-Brand` header above — otherwise `400`. `shared` returns only the organization-wide
    rows (equivalent to filtering `brandId=none`). The default, `both`, keeps the existing behaviour:
    a brand context sees its own rows plus the organization-wide ones. Set `X-Zippendo-Brand-Scope`
    as a client default to apply the same choice to every request instead of repeating the query
    parameter on each call — an explicit `brandScope` query parameter always wins over the header,
    and a blank header value is ignored.

    Brands themselves are managed under the **Brands** tag. Retiring a brand is done with
    `POST /orgs/{orgId}/brands/{brandId}/archive` — permanent deletion is a dashboard-only action,
    since it is refused while any order, shipment, member or token still references the brand.
    Brands require a plan that includes them; creating one beyond your plan's limit returns `403`.
  license:
    name: MIT
  termsOfService: https://www.zippendo.com/legal/terms-of-service
  title: Zippendo Public API
  version: 1.0.0
servers:
- description: Zippendo API
  url: https://api.zippendo.com
security:
- bearerAuth: []
paths:
  /health:
    get:
      description: "Return the service health status, current timestamp, and version."
      operationId: healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheck_200_response"
          description: Default Response
      summary: Health check
      tags:
      - System
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, SystemApi } from "@zippendo/sdk"

          const api = new SystemApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.healthCheck({  })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.SystemApi(client).health_check()
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\SystemApi(new GuzzleHttp\Client(), $config);
          $result = $api->healthCheck();
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.SystemAPI.HealthCheck(ctx).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::SystemApi.new.health_check()
  /orgs/{orgId}/api-tokens:
    get:
      description: Returns a paginated list of API tokens belonging to the specified
        organization.
      operationId: listApiTokens
      parameters:
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 9007199254740991
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_4d8af01qw2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_200_response"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: List API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.listApiTokens({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).list_api_tokens("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->listApiTokens("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.ListApiTokens(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.list_api_tokens("...")
    post:
      description: Creates a new API token for the specified organization. The full
        token is only shown once.
      operationId: createApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_4d8af01qw2
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createApiToken_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createApiToken_201_response"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Create API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.createApiToken({ orgId: "...", createApiTokenRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).create_api_token("...", zippendo.CreateApiTokenRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->createApiToken("...", new \Zippendo\Sdk\Model\CreateApiTokenRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.CreateApiToken(ctx, "...").CreateApiTokenRequest(*zippendo.NewCreateApiTokenRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.create_api_token("...", Zippendo::CreateApiTokenRequest.new)
  /orgs/{orgId}/api-tokens/{tokenId}:
    delete:
      description: Revokes and deletes an API token.
      operationId: revokeApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_4d8af01qw2
          type: string
        style: simple
      - description: API Token ID
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          example: tok_6e2fa83ij9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/revokeApiToken_200_response"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Revoke API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.revokeApiToken({ orgId: "...", tokenId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).revoke_api_token("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->revokeApiToken("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.RevokeApiToken(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.revoke_api_token("...", "...")
    get:
      description: Returns metadata for a specific API token. The token secret is
        never returned.
      operationId: getApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_4d8af01qw2
          type: string
        style: simple
      - description: API Token ID
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          example: tok_6e2fa83ij9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getApiToken({ orgId: "...", tokenId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).get_api_token("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->getApiToken("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.GetApiToken(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.get_api_token("...", "...")
    patch:
      description: Updates the name of an API token.
      operationId: updateApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_4d8af01qw2
          type: string
        style: simple
      - description: API Token ID
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          example: tok_6e2fa83ij9
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateApiToken_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Update API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.updateApiToken({ orgId: "...", tokenId: "...", updateApiTokenRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).update_api_token("...", "...", zippendo.UpdateApiTokenRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->updateApiToken("...", "...", new \Zippendo\Sdk\Model\UpdateApiTokenRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.UpdateApiToken(ctx, "...", "...").UpdateApiTokenRequest(*zippendo.NewUpdateApiTokenRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.update_api_token("...", "...", Zippendo::UpdateApiTokenRequest.new)
  /api-tokens/verify:
    post:
      description: Verifies whether an API token is valid and returns its metadata.
      operationId: verifyApiToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifyApiToken_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verifyApiToken_200_response"
          description: Default Response
      summary: Verify API keys
      tags:
      - Tokens
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, TokensApi } from "@zippendo/sdk"

          const api = new TokensApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.verifyApiToken({ verifyApiTokenRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.TokensApi(client).verify_api_token(zippendo.VerifyApiTokenRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\TokensApi(new GuzzleHttp\Client(), $config);
          $result = $api->verifyApiToken(new \Zippendo\Sdk\Model\VerifyApiTokenRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.TokensAPI.VerifyApiToken(ctx).VerifyApiTokenRequest(*zippendo.NewVerifyApiTokenRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::TokensApi.new.verify_api_token(Zippendo::VerifyApiTokenRequest.new)
  /orgs/{id}:
    get:
      description: "Returns a specific organization by ID, including its member count."
      operationId: getOrg
      parameters:
      - description: Resource ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: clz9x8a7b0001
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrg_200_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get org
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getOrg({ id: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).get_org("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->getOrg("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.GetOrg(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.get_org("...")
    put:
      description: "Updates an existing organization's profile, billing, and customs\
        \ settings."
      operationId: updateOrg
      parameters:
      - description: Resource ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: clz9x8a7b0001
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateOrg_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateOrg_200_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Update org
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.updateOrg({ id: "...", updateOrgRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).update_org("...", zippendo.UpdateOrgRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->updateOrg("...", new \Zippendo\Sdk\Model\UpdateOrgRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.UpdateOrg(ctx, "...").UpdateOrgRequest(*zippendo.NewUpdateOrgRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.update_org("...", Zippendo::UpdateOrgRequest.new)
  /orgs/{orgId}/branding:
    get:
      description: Returns the org's brand colors and an authenticated URL to download
        the logo.
      operationId: getOrgBranding
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrgBranding_200_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get org branding
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getOrgBranding({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).get_org_branding("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->getOrgBranding("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.GetOrgBranding(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.get_org_branding("...")
    put:
      description: Sets the org brand colors. Requires the customBranding entitlement.
      operationId: updateOrgBranding
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateOrgBranding_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrgBranding_200_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Update org branding
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.updateOrgBranding({ orgId: "...", updateOrgBrandingRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).update_org_branding("...", zippendo.UpdateOrgBrandingRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->updateOrgBranding("...", new \Zippendo\Sdk\Model\UpdateOrgBrandingRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.UpdateOrgBranding(ctx, "...").UpdateOrgBrandingRequest(*zippendo.NewUpdateOrgBrandingRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.update_org_branding("...", Zippendo::UpdateOrgBrandingRequest.new)
  /orgs/{orgId}/branding/logo:
    delete:
      description: Removes the org logo. Requires the customBranding entitlement.
      operationId: deleteOrgLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrgBranding_200_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Delete org logo
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.deleteOrgLogo({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).delete_org_logo("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->deleteOrgLogo("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.DeleteOrgLogo(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.delete_org_logo("...")
    get:
      description: Returns the org logo image bytes with the stored content type.
      operationId: getOrgLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                description: The logo image bytes
                format: binary
                type: string
            image/jpeg:
              schema:
                description: The logo image bytes
                format: binary
                type: string
            image/webp:
              schema:
                description: The logo image bytes
                format: binary
                type: string
          description: The logo image bytes
        "404":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/jpeg:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/webp:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Download org logo
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getOrgLogo({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).get_org_logo("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->getOrgLogo("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.GetOrgLogo(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.get_org_logo("...")
    post:
      description: "Uploads the org logo as multipart/form-data. Accepts PNG, JPG,\
        \ or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Requires\
        \ the customBranding entitlement."
      operationId: uploadOrgLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadOrgLogo_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrgBranding_200_response"
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Upload org logo
      tags:
      - Orgs
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, OrgsApi } from "@zippendo/sdk"

          const api = new OrgsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.uploadOrgLogo({ orgId: "...", uploadOrgLogoRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.OrgsApi(client).upload_org_logo("...", zippendo.UploadOrgLogoRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\OrgsApi(new GuzzleHttp\Client(), $config);
          $result = $api->uploadOrgLogo("...", new \Zippendo\Sdk\Model\UploadOrgLogoRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.OrgsAPI.UploadOrgLogo(ctx, "...").UploadOrgLogoRequest(*zippendo.NewUploadOrgLogoRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::OrgsApi.new.upload_org_logo("...", Zippendo::UploadOrgLogoRequest.new)
  /orgs/{orgId}/brands:
    get:
      description: Returns the organization's brands (sub-accounts). Archived brands
        are excluded unless `includeArchived` is set.
      operationId: listOrgBrands
      parameters:
      - description: Include archived brands in the response
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          example: "false"
          type: string
        style: form
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: List brands
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.listOrgBrands({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).list_org_brands("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->listOrgBrands("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.ListOrgBrands(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.list_org_brands("...")
    post:
      description: Creates a brand (sub-account) in the organization. The slug is
        derived from the name when omitted. Requires a plan that includes brands.
      operationId: createOrgBrand
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createOrgBrand_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Create brand
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.createOrgBrand({ orgId: "...", createOrgBrandRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).create_org_brand("...", zippendo.CreateOrgBrandRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->createOrgBrand("...", new \Zippendo\Sdk\Model\CreateOrgBrandRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.CreateOrgBrand(ctx, "...").CreateOrgBrandRequest(*zippendo.NewCreateOrgBrandRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.create_org_brand("...", Zippendo::CreateOrgBrandRequest.new)
  /orgs/{orgId}/brands/check-slug/{slug}:
    get:
      description: "Reports whether a brand slug is free within this organization.\
        \ Brand slugs are unique per organization, so the same slug may exist in another\
        \ organization. Archived brands still hold their slug."
      operationId: checkBrandSlug
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand slug to check
        explode: false
        in: path
        name: slug
        required: true
        schema:
          example: acme
          maxLength: 60
          minLength: 2
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkBrandSlug_200_response"
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Check brand slug availability
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.checkBrandSlug({ orgId: "...", slug: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).check_brand_slug("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->checkBrandSlug("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.CheckBrandSlug(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.check_brand_slug("...", "...")
  /orgs/{orgId}/brands/{brandId}:
    get:
      description: Returns a single brand (sub-account) by id.
      operationId: getOrgBrand
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get brand
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getOrgBrand({ orgId: "...", brandId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).get_org_brand("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->getOrgBrand("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.GetOrgBrand(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.get_org_brand("...", "...")
    patch:
      description: "Updates a brand's name, slug, identity overrides (company name,\
        \ VAT, customs, address) and document colours. Null clears an override so\
        \ the organization's value applies again."
      operationId: updateOrgBrand
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateOrgBrand_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Update brand
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.updateOrgBrand({ orgId: "...", brandId: "...", updateOrgBrandRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).update_org_brand("...", "...", zippendo.UpdateOrgBrandRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->updateOrgBrand("...", "...", new \Zippendo\Sdk\Model\UpdateOrgBrandRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.UpdateOrgBrand(ctx, "...", "...").UpdateOrgBrandRequest(*zippendo.NewUpdateOrgBrandRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.update_org_brand("...", "...", Zippendo::UpdateOrgBrandRequest.new)
  /orgs/{orgId}/brands/{brandId}/archive:
    post:
      description: "Archives a brand: it leaves the brand switcher and default listings,\
        \ but its orders, shipments and settings are retained and remain visible in\
        \ the organization-wide view."
      operationId: archiveOrgBrand
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Archive brand
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.archiveOrgBrand({ orgId: "...", brandId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).archive_org_brand("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->archiveOrgBrand("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.ArchiveOrgBrand(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.archive_org_brand("...", "...")
  /orgs/{orgId}/brands/{brandId}/unarchive:
    post:
      description: Restores an archived brand so it appears in the brand switcher
        again.
      operationId: unarchiveOrgBrand
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Unarchive brand
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.unarchiveOrgBrand({ orgId: "...", brandId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).unarchive_org_brand("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->unarchiveOrgBrand("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.UnarchiveOrgBrand(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.unarchive_org_brand("...", "...")
  /orgs/{orgId}/brands/{brandId}/logo:
    delete:
      description: Removes a brand's logo. Its documents fall back to the organization's
        logo. Requires the brands and customBranding entitlements.
      operationId: deleteBrandLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Delete brand logo
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.deleteBrandLogo({ orgId: "...", brandId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).delete_brand_logo("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->deleteBrandLogo("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.DeleteBrandLogo(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.delete_brand_logo("...", "...")
    get:
      description: Streams the brand's logo bytes. This is the URL returned as the
        brand's `logoUrl`.
      operationId: getBrandLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                description: The logo image bytes
                format: binary
                type: string
            image/jpeg:
              schema:
                description: The logo image bytes
                format: binary
                type: string
            image/webp:
              schema:
                description: The logo image bytes
                format: binary
                type: string
          description: The logo image bytes
        "401":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/jpeg:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/webp:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/jpeg:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/webp:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/jpeg:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
            image/webp:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get brand logo
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getBrandLogo({ orgId: "...", brandId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).get_brand_logo("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->getBrandLogo("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.GetBrandLogo(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.get_brand_logo("...", "...")
    post:
      description: "Uploads a brand's logo as multipart/form-data. Accepts PNG, JPG\
        \ or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Documents\
        \ for this brand's shipments use it instead of the organization's logo. Requires\
        \ the brands and customBranding entitlements."
      operationId: uploadBrandLogo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_8f3kd92ld0
          type: string
        style: simple
      - description: Brand ID
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadOrgLogo_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrgBrands_200_response_data_inner"
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Upload brand logo
      tags:
      - Brands
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, BrandsApi } from "@zippendo/sdk"

          const api = new BrandsApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.uploadBrandLogo({ orgId: "...", brandId: "...", uploadBrandLogoRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.BrandsApi(client).upload_brand_logo("...", "...", zippendo.UploadBrandLogoRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\BrandsApi(new GuzzleHttp\Client(), $config);
          $result = $api->uploadBrandLogo("...", "...", new \Zippendo\Sdk\Model\UploadBrandLogoRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.BrandsAPI.UploadBrandLogo(ctx, "...", "...").UploadBrandLogoRequest(*zippendo.NewUploadBrandLogoRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::BrandsApi.new.upload_brand_logo("...", "...", Zippendo::UploadBrandLogoRequest.new)
  /orgs/{orgId}/addresses:
    get:
      description: "Returns a paginated list of addresses for the organization, optionally\
        \ filtered by type."
      operationId: listAddresses
      parameters:
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 9007199254740991
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Filter by address type (sender, pickup, return)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - sender
          - pickup
          - return
          example: sender
          type: string
        style: form
      - description: "Filter by brand. Pass a brand ID, or \"none\" for records not\
          \ assigned to any brand."
        explode: true
        in: query
        name: brandId
        required: false
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: form
      - description: "How the brand context narrows this list: \"own\" returns only\
          \ rows assigned to the current brand (requires a brand session, a brand-bound\
          \ token, or the X-Zippendo-Brand header), \"shared\" returns only unassigned\
          \ organization-wide rows, \"both\" (default) returns both. The X-Zippendo-Brand-Scope\
          \ header supplies a default when the parameter is omitted. For strictly\
          \ brand-owned records (orders, shipments), a brand-scoped request combined\
          \ with \"shared\" returns no rows, since those records are never visible\
          \ organization-wide from within a brand context."
        explode: true
        in: query
        name: brandScope
        required: false
        schema:
          enum:
          - own
          - shared
          - both
          example: own
          type: string
        style: form
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAddresses_200_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: List addresses
      tags:
      - Addresses
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, AddressesApi } from "@zippendo/sdk"

          const api = new AddressesApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.listAddresses({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.AddressesApi(client).list_addresses("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\AddressesApi(new GuzzleHttp\Client(), $config);
          $result = $api->listAddresses("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.AddressesAPI.ListAddresses(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::AddressesApi.new.list_addresses("...")
    post:
      description: "Creates a new sender, pickup or return address for the organization."
      operationId: createAddress
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAddress_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAddresses_200_response_data_inner"
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Create address
      tags:
      - Addresses
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, AddressesApi } from "@zippendo/sdk"

          const api = new AddressesApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.createAddress({ orgId: "...", createAddressRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.AddressesApi(client).create_address("...", zippendo.CreateAddressRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\AddressesApi(new GuzzleHttp\Client(), $config);
          $result = $api->createAddress("...", new \Zippendo\Sdk\Model\CreateAddressRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.AddressesAPI.CreateAddress(ctx, "...").CreateAddressRequest(*zippendo.NewCreateAddressRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::AddressesApi.new.create_address("...", Zippendo::CreateAddressRequest.new)
  /orgs/{orgId}/addresses/{addressId}:
    delete:
      description: Deletes an address belonging to the organization.
      operationId: deleteAddress
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      - description: Address ID
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          example: addr_01HZX9K2QF
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                enum:
                - null
                nullable: true
                type: string
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Delete address
      tags:
      - Addresses
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, AddressesApi } from "@zippendo/sdk"

          const api = new AddressesApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.deleteAddress({ orgId: "...", addressId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.AddressesApi(client).delete_address("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\AddressesApi(new GuzzleHttp\Client(), $config);
          $result = $api->deleteAddress("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.AddressesAPI.DeleteAddress(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::AddressesApi.new.delete_address("...", "...")
    get:
      description: "Returns a single address belonging to the organization, identified\
        \ by its ID."
      operationId: getAddress
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      - description: Address ID
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          example: addr_01HZX9K2QF
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAddresses_200_response_data_inner"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Get address
      tags:
      - Addresses
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, AddressesApi } from "@zippendo/sdk"

          const api = new AddressesApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.getAddress({ orgId: "...", addressId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.AddressesApi(client).get_address("...", "...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\AddressesApi(new GuzzleHttp\Client(), $config);
          $result = $api->getAddress("...", "...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.AddressesAPI.GetAddress(ctx, "...", "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::AddressesApi.new.get_address("...", "...")
    put:
      description: Updates an existing address belonging to the organization.
      operationId: updateAddress
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      - description: Address ID
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          example: addr_01HZX9K2QF
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAddress_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAddresses_200_response_data_inner"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Update address
      tags:
      - Addresses
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, AddressesApi } from "@zippendo/sdk"

          const api = new AddressesApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.updateAddress({ orgId: "...", addressId: "...", updateAddressRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.AddressesApi(client).update_address("...", "...", zippendo.UpdateAddressRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\AddressesApi(new GuzzleHttp\Client(), $config);
          $result = $api->updateAddress("...", "...", new \Zippendo\Sdk\Model\UpdateAddressRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.AddressesAPI.UpdateAddress(ctx, "...", "...").UpdateAddressRequest(*zippendo.NewUpdateAddressRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::AddressesApi.new.update_address("...", "...", Zippendo::UpdateAddressRequest.new)
  /orgs/{orgId}/carriers:
    get:
      description: Returns a paginated list of carriers connected to the organization.
      operationId: listCarriers
      parameters:
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 9007199254740991
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Filter by brand. Pass a brand ID, or \"none\" for records not\
          \ assigned to any brand."
        explode: true
        in: query
        name: brandId
        required: false
        schema:
          example: brnd_8f3kd92ld0
          type: string
        style: form
      - description: "How the brand context narrows this list: \"own\" returns only\
          \ rows assigned to the current brand (requires a brand session, a brand-bound\
          \ token, or the X-Zippendo-Brand header), \"shared\" returns only unassigned\
          \ organization-wide rows, \"both\" (default) returns both. The X-Zippendo-Brand-Scope\
          \ header supplies a default when the parameter is omitted. For strictly\
          \ brand-owned records (orders, shipments), a brand-scoped request combined\
          \ with \"shared\" returns no rows, since those records are never visible\
          \ organization-wide from within a brand context."
        explode: true
        in: query
        name: brandScope
        required: false
        schema:
          enum:
          - own
          - shared
          - both
          example: own
          type: string
        style: form
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCarriers_200_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: List carriers
      tags:
      - Carriers
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, CarriersApi } from "@zippendo/sdk"

          const api = new CarriersApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.listCarriers({ orgId: "..." })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.CarriersApi(client).list_carriers("...")
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\CarriersApi(new GuzzleHttp\Client(), $config);
          $result = $api->listCarriers("...");
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.CarriersAPI.ListCarriers(ctx, "...").Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::CarriersApi.new.list_carriers("...")
    post:
      description: Connects a new carrier to the organization with its configuration.
      operationId: connectCarrier
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: org_01HZX9K2QF
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/connectCarrier_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCarriers_200_response_data_inner"
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiTokens_401_response"
          description: Default Response
      summary: Connect carrier
      tags:
      - Carriers
      x-codeSamples:
      - lang: typescript
        label: TypeScript
        source: |-
          import { Configuration, CarriersApi } from "@zippendo/sdk"

          const api = new CarriersApi(new Configuration({ accessToken: process.env.ZIPPENDO_API_TOKEN }))
          const result = await api.connectCarrier({ orgId: "...", connectCarrierRequest: { /* ... */ } })
      - lang: python
        label: Python
        source: |-
          import os
          import zippendo

          config = zippendo.Configuration(access_token=os.environ["ZIPPENDO_API_TOKEN"])
          with zippendo.ApiClient(config) as client:
              result = zippendo.CarriersApi(client).connect_carrier("...", zippendo.ConnectCarrierRequest())
      - lang: php
        label: PHP
        source: |-
          <?php
          $config = Zippendo\Sdk\Configuration::getDefaultConfiguration()->setAccessToken(getenv("ZIPPENDO_API_TOKEN"));
          $api = new Zippendo\Sdk\Api\CarriersApi(new GuzzleHttp\Client(), $config);
          $result = $api->connectCarrier("...", new \Zippendo\Sdk\Model\ConnectCarrierRequest([]));
      - lang: go
        label: Go
        source: |-
          client := zippendo.NewAPIClient(zippendo.NewConfiguration())
          ctx := context.WithValue(context.Background(), zippendo.ContextAccessToken, os.Getenv("ZIPPENDO_API_TOKEN"))
          result, _, err := client.CarriersAPI.ConnectCarrier(ctx, "...").ConnectCarrierRequest(*zippendo.NewConnectCarrierRequest()).Execute()
      - lang: ruby
        label: Ruby
        source: |-
          require "zippendo"

          Zippendo.configure { |c| c.access_token = ENV["ZIPPENDO_API_TOKEN"] }
          result = Zippendo::CarriersApi.new.connect_carrier("...", Zippendo::ConnectCarrierRequest.new)
  /orgs/{orgId}/carriers/{carrierId}:
    delete:
      description: Disconnects a carrier from the organization.
      operationId: disconnectCarrier
      parameters:
      - description: Organization ID
        explode: false
[...]
